body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 20px;
}

.project-heading {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.subtitle {
    color: #666;
    font-size: 18px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-label {
    display: inline-block;
    margin-bottom: 10px;
    color: #333;
    text-align: left;
    width: 90%; /* Adjust width as needed */
}

input[type="file"] {
    display: inline-block;
    width: 90%; /* Adjust width as needed */
    padding: 12px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.canvas-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

canvas {
    border: 1px solid #ccc; /* Set the border color for both canvases */
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #66bb6a; /* Set the button background color to green (#4caf50) */
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.result {
    display: none;
    margin-top: 20px;
    padding: 15px;
    background-color: #dff0d8;
    border: 1px solid #3c763d;
    color: #3c763d;
    border-radius: 4px;
}

.result-visible {
    display: block;
}